/* AddProduct.css */

.container {
  display: flex;
  height: 100vh;
}

.addprod {
  flex: 1;
  padding: 15px;
  padding-top: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin-left: 220px;
  margin-top: 0px;
}

.addprod h1 {
  font-size: 24px;
  margin-bottom: 10px;
margin-top: 0px;
}

.addprod form label {
  font-weight: bold;
}

.addprod form input[type="text"],
.addprod form input[type="number"],
.addprod form input[type="file"],
.addprod form select {
  width: 99%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addprod form .btn {
  padding: 10px 20px;
  background-color: #4d2800;
  color: white;
  border: none;
  cursor: pointer;
}

.addprod form .btn:hover {
  background-color: #915617;
}

.success-msg,
.error-msg {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

.success-msg {
  color: green;
  background-color: #d3f7d5;
}

.error-msg {
  color: red;
  background-color: #f7d3d3;
}