img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
    margin: 10px;
    margin-left: 40px;
}
.logo{
    
    display: flex;
    flex-wrap: wrap;
}
.shop-name{
    font-size: 25px;
    margin: 10px;
}