/* navbar.css */

/* Navbar styling */
.navbar{
    background-color: #fff; /* White background color */
    color: #4d2800; /* Brown text color */
    padding: 20px;
    
}
/* List styling */
ul {
  list-style: none;
  padding: 0;
}

/* List item styling */
li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Icon styling */
li svg {
  margin-right: 10px;
  color: #4d2800; /* Brown icon color */
}

/* Hover effect */
li:hover {
  background-color: #f5f5f5; /* Light grey background color on hover */
  font-weight: bold; /* Make text bold on hover */
}
