.product-atc--button {
  max-width: fit-content;
  min-width: fit-content;
  background-color: #5b2421;
}
.product-atc--button:hover {
  background-color: #4d2800;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}

.customise-button{
  max-width: fit-content;
  min-width: fit-content;
  background-color: #5b2421;
  margin-top: 15px;
}

.product-buy--button {
  max-width: fit-content;
  min-width: fit-content;
  background-color: #5b2421;
}
.product-buy--button:hover {
  background-color: #4d2800;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}

.product-details {
  display: flex;
  flex-direction: row;
  padding: 60px 0 0 120px;
}
.product-details--basic {
  padding-left: 250px;
}
.product-details--heading {
  font-size: 30px;
  font-weight: 600;
}
.product-details--price {
  font-size: 25px;
}
.product-rating--progressbar {
  width: 100px;
  max-height: 4px;
}
.product-review--section {
  position: absolute;
  right: 200px;
}
.product-reviewrating {
  padding: 100px 0 0 100px;
}

.product-images {
  width: fit-content;
  padding: 10px;
}

.product-mainimg {
  margin: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.product-mainimg--container {
  margin: 0;
  height: 350px;
  width: 350px;
  padding-bottom: 20px;
}

.product-subimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin: 0;
}

.product-subimg--active {
  height: 90%;
  width: 90%;
  border-radius: 5px;
  object-fit: cover;
  padding: 2px;
  /* border: #4d2800 solid 3px; */
  margin: 0;
}

.product-subimg--list {
  margin: 0px;
  padding: 5px;
  display: flex;
  width: 350px;
  flex-direction: row;
  overflow: hidden;
}

.product-subimg--container {
  height: 100px;
  width: 100px;
  padding: 0 10px 10px 0;
}
.back-btn{
  width: auto;
}
