.review-box--whole {
  min-width: 400px;
}

.review-box--whole > * {
  margin: 10px 0 0 0;
}

.review-button--submit {
  width: fit-content;
  background-color: #5b2421;
}
.review-button--submit:hover {
  background-color: #4d2800;
}
