button {
    background-color: #6B8E23;
    color: #fff;
    width: 10%; 
    padding: 15px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: #7f9d37;
}

.dash-mainsection{
    display: flex;
    flex-direction: column;
}

.dash-mainsection--latestproducts{
    display: flex;
    flex-direction: row;
}