/* navbar.css */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: rgb(220, 220, 220);
}

.nav-logo {
    font-family: 'Outfit'; /* Assuming 'Outfit' is a font family */
    font-size: 42px;
    font-weight: 500;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
}

.nav-contact{
    border-radius: 50px;
    padding:10px 38px;
    background: #fff;
    color: #262626;
}
.nav-contact:hover{
    color: #ffffff;
}

.nav-contact--link{
    color: inherit;
    text-decoration: none;
}

.nav-products--dropdown{
    position: absolute;
    padding-top: 30px;
}

.nav-products--dropdownitem{

    border-bottom: #EEEEEE solid 1px;

}