.container {
    
    
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
    
  }
  
  .job-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
    gap: 20px;
    justify-content: center; /* Center grid items horizontally */
  }
  
  