.container {
    
    margin: 0 auto;
    padding: 40px;
    border-radius: 8px;
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #4d2800;
  }
  
  .form-items {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #4d2800;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #4d2800;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #555;
  }
  