.collab-navbar {
    background-color: #4d2800;
    color: #fff;
    
    display: flex;
    justify-content: flex-end;
     
    width: 100%;
    height: 30px;
  }
  
  .navbar-item {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
  }
  