/* Footer */
.bg-gray-800 {
    background-color: #8ea5cc;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .md\:flex {
    display: flex;
  }
  
  .md\:flex-row {
    flex-direction: row;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  .w-full {
    width: 100%;
  }
  
  .md-width-25 {
    width: 25%;
  }
  
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .mt-8 {
    margin-top: 2rem;
  }
  
  .border-t {
    border-top-width: 1px;
  }
  
  .border-gray-700 {
    border-color: #128a3a;
  }
  
  .pt-4 {
    padding-top: 1rem;
  }
  