body {
    margin: 0;
    background-image: url('https://www.textures4photoshop.com/tex/thumbs/vintage-sketch-texture-background-thumb33.jpg');
    background-size: cover;
    background-position: center;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
   background-color: rgba(255, 255, 255, 0.8);
}

.auth-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: #8B4513;
    
}

.auth-label svg {
    
    font-size: 24px; 
    border: 1px solid #ccc;
    border-radius: 3px; 
    padding: 4px;
}

.auth-input {
    width: calc(100% - 34px);
    padding: 8px;
    box-sizing: border-box;
    height: 34px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

.auth-button {
    background-color: #6B8E23;
    color: #fff;
    width: 100%; 
    padding: 15px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
}

.auth-button:hover {
    background-color: #7f9d37;
}

.auth-checkbox {
    margin-right: 5px;
    color: #6B8E23;
}
